<a href="https://colab.research.google.com/github/anasbenbrahim/Python-AI-Foundations/blob/master/Python_AI_Foundations.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Converting integer to float**

In [3]:
integer_number = 12345
float_number = 1.2345
float_number2 = 3.3

new_number = integer_number + float_number
new_number2 = new_number + float_number2

print("Value:",new_number)
print("Data Type:",type(new_number))
print("New Value:",new_number2)

Value: 12346.2345
Data Type: <class 'float'>
New Value: 12349.5345

# **Explicit Type Conversion**

In [5]:
num_string = '12'
num_integer = 23

print("Data type before Type Casting:",type(num_string))

# explicit type conversion
num_string = int(num_string)

print("Data type before Type Casting:",type(num_string))

num_sum = num_integer + num_string

print("Sum:",num_sum)
print("Data type of sum:",type(num_sum))

Data type before Type Casting: <class 'str'>
Data type before Type Casting: <class 'int'>
Sum: 35
Data type of sum: <class 'int'>

# **Python Basic Input and Output**

In [6]:
print('Python')

Python

In [7]:
print('New Year', 2026, 'See you', sep= '. ')

New Year. 2026. See you

In [9]:
print('Anas ' + 'Ben ibrahim')

Anas Ben ibrahim

## ***Output formatting***

In [10]:
x = 5
y = 10

print('The value of x is {} and y is {}'.format(x,y))

The value of x is 5 and y is 10

## ***Python Input***

In [11]:
# Using input() to take user input
num = input('Enter a number: ')

print('You Entred:', num)

print('Data type of num:', type(num))

Enter a number: 22
You Entred: 22
Data type of num: <class 'str'>

In [14]:
# To convert user input into a number we can use int() or float() functions as :
num = int(input('Enter a number: '))

print('Data type of num:', type(num))

Enter a number: 55
Data type of num: <class 'int'>

# **Python Operators**

## ***Example 1: Arithmetic Operators in Python***